@tailwind components;
@tailwind utilities;

@tailwind base;
@layer base {
  @font-face {
    font-family: "HalisR-Black";
    src: url("/fonts/HalisR-Black.ttf") format('truetype'), url("/fonts/HalisR-Black.woff") format("woff"), url("/fonts/HalisR-Black.woff2") format("woff2")
  }
  
  @font-face {
    font-family: "HalisR-Regular";
    src: url("/fonts/HalisR-Regular.ttf") format('truetype'), url("/fonts/HalisR-Regular.woff") format("woff"), url("/fonts/HalisR-Regular.woff2") format("woff2")
  }
  
  @font-face {
    font-family: "HalisR-Light";
    src: url("/fonts/HalisR-Light.ttf") format('truetype'), url("/fonts/HalisR-Light.woff") format("woff"), url("/fonts/HalisR-Light.woff2") format("woff2")
  }
  h1 {
    @apply font-bold text-3xl text-honeydew;
    text-align: center;
  }
  h2 {
    @apply font-bold text-2xl;
    text-transform: uppercase;
  }
  h3 {
    @apply font-normal text-xl;
    text-transform: uppercase;
  }
  h4 {
    @apply font-normal;
  }
  p {
    @apply font-normal;
    font-size: 1.0em;
  }

  ul {
    @apply font-normal;
    font-size: 1.3em;
    list-style-type: circle; 
    padding: 10px
  }

  ol {
    @apply font-normal;
    font-size: 1.3em;
    padding: 10px
  }


  .heading {
    @apply text-center my-8
  }

  .heading h1{
    @apply text-emerald mb-8
  }

}

