@tailwind base;
@layer base {
  @import url("https://p.typekit.net/p.css?s=1&k=tri7gwo&ht=tk&f=139.140.173.174.175.176.10881.10882.10884.10885&a=21288430&app=typekit&e=css");

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/144da4/00000000000000007735e619/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/144da4/00000000000000007735e619/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/144da4/00000000000000007735e619/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
      }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
  }

  html {
    @apply scroll-smooth;
  }

  .tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
  .tk-futura-pt { font-family: "futura-pt",sans-serif; }

  h1 {
    @apply font-bold text-3xl text-green mb-5;
    font-family: futura-pt, sans-serif;
  }

  h2 {
    @apply font-bold text-2xl text-green mb-1.5;
    font-family: futura-pt, sans-serif;
  }

  h3 {
    @apply font-normal text-xl text-green mb-1.5;
    font-family: futura-pt, sans-serif;
  }

  h4 {
    @apply font-normal text-green;
    font-family: futura-pt, sans-serif;
  }

  p {
    @apply font-normal text-green mb-2;
    font-family: proxima-nova, sans-serif;
    font-size: 1.0em;
  }

  a {
    text-decoration: underline;
    font-weight: normal;
  }

  ul {
    @apply font-normal text-green;
    font-family: proxima-nova, sans-serif;
    font-size: 1.3em;
    list-style-type: circle; 
    padding: 10px
  }

  ol {
    @apply font-normal text-green;
    font-family: proxima-nova, sans-serif;
    font-size: 1.3em;
    padding: 10px
  }

  main {
    @apply bg-linen;
  }
}

@tailwind components;
@layer components {
  .section {
    @apply px-[10%] md:px-[15%] lg:px-[25%] pt-12 mb-[-0.5rem];
  }

  .anchor {
    @apply relative top-[-100px] invisible
  }

  nav {
    @apply text-green bg-white px-9 w-full h-20 flex flex-row justify-between items-center top-0 sticky;
    font-family: proxima-nova, sans-serif;
  }

  nav a {
    @apply no-underline hover:underline;
  }

  .nav-pennapps {
    @apply font-bold text-xl;
    font-family: futura-pt, sans-serif;
  }

  .links {
    @apply flex flex-row space-x-5 md:space-x-11;
  }

  .mobile-nav {
    @apply sm:hidden absolute bg-white top-20 right-0 flex flex-col;
    @apply overflow-hidden transition-all ease-in-out duration-500;
  }

  .mobile-nav a {
    @apply py-4 px-16 border-b border-x border-gray-200 text-center;
    @apply hover:bg-honeydew hover:no-underline;
    @apply first:border-t;
  }

  .heading {
    @apply bg-sand h-[75vh] flex flex-row items-center space-x-12 px-[15%] md:px-[20%] lg:px-[26%];
  }

  .heading img {
    @apply w-28 lg:w-36 h-auto hidden sm:inline;
  }

  .heading h1 {
    @apply text-green md:text-5xl;
  }

  .heading p {
    @apply md:text-lg;
  }

  .heading button {
    @apply mt-4 bg-green text-sand px-6 py-2 rounded-full hover:bg-emerald;
  }

  .landing {
    @apply h-screen flex flex-col justify-center items-center;
  }

  .landing-image {
    @apply w-2/3 min-w-[32rem] text-center;
  }

  .landing-image h2 {
    @apply md:hidden text-sm relative bottom-6 font-bold;
  }

  .landing-countdown {
    @apply flex flex-row space-x-3;
  }

  .landing-countdown-square {
    @apply w-[10vw] h-[9.5vw] min-w-[5rem] min-h-[4.75rem] bg-white flex flex-col items-center justify-center;
  }

  .faq-question {
    @apply bg-sand py-1 px-3;
    font-family: proxima-nova, sans-serif;
    font-size: 1em;
  }

  .faq-answer {
    @apply px-5 pb-0.5;
  }
}

@tailwind utilities;